-# .box
-#   .header
-#     = link_to image_tag("/images/logo/logo.png", width: '120px', alt: "logo1"),root_path

-#   .main
-#     .main__login
-#       .main__login__account
-#         会員情報入力
-#       .main__login__info
-#         = form_with model: @user, url: step2_signup_index_path, id: 'new_user', class: 'new_user', local: true do |f|
-#           = render "devise/shared/error_messages", resource: @user
-#           .box__group
-#             .box__group__title
-#               ニックネーム
-#             .box__group__hisu
-#               必須
-#           .box__form
-#             = f.text_field :nickname, placeholder: "(例)メルカリ太郎", class: "name__text"
-#           .box__group
-#             .box__group__title
-#               メールアドレス
-#             .box__group__hisu
-#               必須
-#           .box__form
-#             = f.text_field :email, placeholder: "PC・携帯どちらでも可", class: "name__text"
-#           .box__group
-#             .box__group__title
-#               パスワード
-#             .box__group__hisu
-#               必須
-#           .box__form
-#             = f.text_field :password, placeholder: "7文字以上の半角英数字", class: "name__text"
-#           .box__mark
-#             ※ 英字と数字の両方を含めて設定してください
-#           .box__check
-#             = f.text_field :checkbox, type: "checkbox", class: "btn__check"
-#             .box__check__text
-#               パスワードを表示する
-#           .box__confirm
-#             .box__confirm__name
-#               本人確認
-#             .box__confirm__text
-#               安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
-#           .box__group
-#             .box__group__title
-#               お名前(全角)
-#             .box__group__hisu
-#               必須
-#           .box__form
-#             .box__form__text
-#               = f.text_field :lastname, placeholder: "例)山田", class: "lastname"
-#             .box__form__text
-#               = f.text_field :firstname, placeholder: "例)太郎", class: "firstname"
-#           .box__group
-#             .box__group__title
-#               お名前カナ(全角)
-#             .box__group__hisu
-#               必須
-#           .box__form
-#             .box__form__text
-#               = f.text_field :lastnamekana, placeholder: "例)ヤマダ", class: "lastname"
-#             .box__form__text
-#               = f.text_field :firstnamekana, placeholder: "例)タロウ", class: "firstname"
-#           .box__group
-#             .box__group__title
-#               生年月日
-#             .box__group__hisu
-#               必須
-#           .box__form
-#             .box__form__text
-#               = f.date_select :birthday, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
-#           .box__mark
-#             ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
-#           .box__next
-#             「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
-#           .main__login__info__button
-#             = f.submit "次へ進む"
-#               = render "devise/shared/links"
-#           .main__login__info__passward
-#             = link_to "#" do
-#               本人情報の登録について>
-#           .box__english
-#             This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.

-#   .footer
-#     .footer__box
-#       .footer__box__text
-#         プライバシーポリシー
-#       .footer__box__message
-#         メルカリ利用規約
-#       .footer__box__form
-#         特定商取引に関する表記
-#     .footer__logo
-#       mercari
-#       .footer__logo__text
-#         © Mercari, Inc.