.header
  = render "products/header"

.body
  .left_content
    = render partial: 'sidebar'
  .right_content
    .logout
      .logout_btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'sign_out_btn'

.footer
  部分テンプレート