//ヘッダー部分テンプレート差し替えのため仮置き
.header {
  z-index: 1;
  height: 128px;
  background: #F5F5F5;
  text-align: center;
  line-height: 128px;
}
//メインページ記述
.buy-main{
  background-color: #f5f5f5;
  &__container {
    margin: 0 auto;
    width: 700px;
    background-color: #fff;;;
    &__header {
      padding: 32px 16px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #F5F5F5;
    }
    &__content {
      border-bottom: 1px solid #F5F5F5;
      padding: 32px 16px;
      margin: 0 auto;
      &__inner {
        max-width: 343px;
        margin: 0 auto;
        background-color: blue($color: #000000);
        &__item-box {
          // display: flex;
          height: 80px;
          h3 {
            text-align: center;
          }
          &__price-box {
            text-align: center;
            margin-top: 10px;
            &__name {
              margin-bottom: 10px;
            }
            p {
            }
          }
          &__price {
            span {
              font-size: 18px;
            }
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
    &__status {
      margin: 0 160px;
      &__price {
        padding: 32px 16px;
        margin: 0 auto;
        border-bottom: 1px solid #F5F5F5;
        ul {
          margin-bottom: 10px;
          h1 {
            margin-top: 12px;
            font-size: 16px;
            font-weight: bold;
            float: left;
          }
          li {
            font-size: 28px;
            float: right;
            display: inline-block;
          }
        }
      }
      &__payment {
        padding: 32px 16px 16px 16px;
        margin: 0 auto;
        border-bottom: 1px solid #F5F5F5;
        ul {
          h3 {
            font-weight: bold;
          }
          span {
            display: inline-block;
          }
          a {
            text-decoration: none;
            color: $mainBlueColor;
          }
        }
      }
      &__delivery {
        padding: 32px 16px 16px 16px;
        margin: 0 auto;
        border-bottom: 1px solid #F5F5F5;
        ul {
          h3 {
            font-weight: bold; 
          }
          span {
            display: inline-block;
          }
          a {
            text-decoration: none;
            color: $mainBlueColor;
          }
        }
      }
      &__btn {
        padding: 32px 16px;
        margin: 0 auto;
        ul {
          margin: 0 auto;
          li {
            font-size:16px;
            font-weight:bold;
            text-decoration:none;
            display:block;
            text-align:center;
            margin-bottom: 20px;
            padding:8px 0 10px;
            color: $mainWhiteColor;
            background-color: $mainBlueColor;
            button {
              font-weight: 600;
              background-color: $mainBlueColor;
              color: $mainWhiteColor;
            }
            a {
              text-decoration: none;
              color: $mainWhiteColor;
            }
          }
        }
      }
    }
  }
}

//フッター部分テンプレート差し替えのため仮置き
.footer {
  background: #F5F5F5;
  z-index: 1;
  height: 220px;
  width: 456px;

  flex-direction: column;
  align-items: center;
  width: 100%;
  &__box {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 30px 0;
      &__text {
      font-size: 12px;
      }
      &__message {
        font-size: 12px;
        margin: 0 20px 0 20px;
      }
      &__form {
        font-size: 12px;
      }
  }
  &__logo {
    margin-top: 30px;
    text-align: center;
    &__text {
      font-size: 13px;
    }
  }
}