* {
  box-sizing: border-box;
}

.box {
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .header {
    z-index: 1;
    height: 128px;
    background: #f5f5f5;
    text-align: center;
    line-height: 128px;
  }
  .content {
    background: #f5f5f5;
    height: calc(100% - 358px);
    display: flex;
    justify-content: center;
    &__login {
      background-color: #fff;
      width: 456px;
      height: calc(100% - 358px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &__account {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 40px 64px;
        a {
          background-color: #0099e8;
          color: #fff;
          margin: 10px;
          padding: 10px 100px;
          text-decoration: none;
        }
      }
      &__api {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 64px;
        margin-bottom: 50px;
        &__facebook {
          a {
            background-color: #385185;
            color:  #fff;
            padding: 10px 90px;
            text-decoration: none;
            font-size: 14px;
          }
        }
        &__google {
          margin-top: 30px;
          a {
            background-color: #fff;
            color: #333;
            padding: 10px 100px;
            text-decoration: none;
            border: #979797 solid 1px;
            font-size: 14px;
          }
        }
      }
      &__form {
        padding-bottom: 20px;
        &__box {
          .form__email {
            .email__text {
              padding: 10px 140px 10px 20px;
              margin: 10px 0 10px 0px;
            }
          }
          .form__passward {
            .passward__text {
              padding: 10px 140px 10px 20px;
              margin: 10px 0 10px 0px;
            }
          }
          .form__check {
            border: 2px solid #d3d3d3;
            margin: 20px 0 30px 0;
            padding: 30px 0 30px 10px;
            display: flex;
            align-items: center;
            &__box {
            }
            &__text {
              margin-left: 10px;
              width: 152px;
              font-size: 14px;
            }
          }
        }
        &__button {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px 0 40px 0;
          input {
            background-color: #ea352d;
            color: #fff;
            padding: 10px 130px;
            text-decoration: none;
          }
        }
        &__passward {
          a {
            margin-top: 40px;
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer {
    background: #f5f5f5;
    z-index: 1;
    height: 220px;
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__box {
      display: flex;
      justify-content: space-between;
      margin: 30px 0 30px 0;
      &__text {
        font-size: 12px;
      }
      &__message {
        font-size: 12px;
        margin: 0 20px 0 20px;
      }
      &__form {
        font-size: 12px;
      }
    }
    &__logo {
      margin-top: 30px;
      text-align: center;
      &__text {
        font-size: 13px;
      }
    }
  }
}