.body {
  width: 100%;
  background: #f5f5f5;
  margin: 0 auto;
  .right_content {
    .logout {
      width: 700px;
      height: 180px;
      margin-top: 40px;
      background-color: #fff;
      display: flex;
      justify-content: center; /*左右中央揃え*/
      align-items: center;     /*上下中央揃え*/
      .logout_btn {
        height: 50px;
        width: 320px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #3CCACE;
        background-color: #3CCACE;
        .btn {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}