* {
  box-sizing: border-box;
}

.box {
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .header {
    z-index: 1;
    height: 128px;
    background: #f5f5f5;
    text-align: center;
    line-height: 128px;
  }
  .main {
    background: #f5f5f5;
    height: calc(100% - 358px);
    display: flex;
    justify-content: center;
    &__login {
      background-color: #fff;
      width: 700px;
      height: calc(100% - 358px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &__account {
        padding-top: 40px;
        margin-bottom: 40px;
        font-size: 22px;
      }
      &__info {
        background-color: #fff;
        max-width: 343px;
        .box__group {
          background-color: #fff;
          display: flex;
          justify-content: flex-start;
          height: 20px;
          margin-top: 20px;
          &__title {
            font-size: inherit;
            margin-left: 10px;
          }
          &__hisu {
            background-color: #ea352d;
            color: #fff;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .box__form {
          font-size: 16px;
          display: flex;
          .name__text {
            padding: 10px 140px 10px 20px;
            margin: 10px 0 10px 10px;
          }
          &__text {
            .lastname {
              padding: 10px 0px 10px 20px;
              margin: 10px 0px 10px 0px;
              width: 100%;
            }
            .firstname {
              padding: 10px 0px 10px 20px;
              margin: 10px 0 10px 10px;
              width: calc(100% - 5px);
            }
            .birthday {
              padding: 10px 0px 10px 10px;
              margin: 10px 0px 10px 0px;
              width: 76px;
            }
          }
          &__letter {
            line-height: 65px;
          }
        }
        .box__mark {
          color: #888;
          font-size: 14px;
          margin: 5px 0 10px 0;
        }
        .box__check {
          display: flex;
          justify-content: flex-start;
          &__text {
            font-size: 14px;
            margin-left: 10px;
          }
        }
        .box__confirm {
          margin: 20px 0 10px 0;
          &__name {
            margin-bottom: 5px;
            font-size: 16px;
          }
          &__text {
            font-size: 14px;
          }
        }
        .box__next {
          margin: 40px 0 10px 0;
          font-size: 14px;
          text-align: center;
        }
        &__button {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px 0 30px 0;
          a {
            background-color: #ea352d;
            color: #fff;
            padding: 10px 130px;
            text-decoration: none;
          }
        }
        &__passward {
          display: flex;
          justify-content: flex-end;
          a {
            color: #0099e8;
            text-decoration: none;
            font-size: 14px;
          }
        }
        .box__english {
          margin: 30px 0 60px 0;
          padding: 10px;
          background: #f5f5f5;
          color: #888888;
          font-size: 12px;
        }
      }
    }
  }
  .footer {
    background: #f5f5f5;
    z-index: 1;
    height: 220px;
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__box {
      display: flex;
      justify-content: space-between;
      margin: 30px 0 30px 0;
      &__text {
        font-size: 12px;
      }
      &__message {
        font-size: 12px;
        margin: 0 20px 0 20px;
      }
      &__form {
        font-size: 12px;
      }
    }
    &__logo {
      margin-top: 30px;
      text-align: center;
      &__text {
        font-size: 13px;
      }
    }
  }
}