.header {

}

.body {
  width: 100%;
  background: $backgroundColor;
  margin: 0 auto;
  .right_content {
    .logout {
      width: 700px;
      height: 180px;
      margin-top: 40px;
      background-color: $mainWhiteColor;
      display: flex;
      justify-content: center; /*左右中央揃え*/
      align-items: center;     /*上下中央揃え*/
      .logout_btn {
        height: 50px;
        width: 320px;
        line-height: 50px;
        text-align: center;
        border: 1px solid $mainBlueColor;
        background-color: $mainBlueColor;
        .btn {
          font-size: 18px;
          text-decoration: none;
          color: $mainWhiteColor;
        }
      }
    }
  }
}

.footer {

}